{% extends "app.html" %}
{% block title %} Register Workshop {% endblock %}
{% block content %}
    <div class="container mt-4">
        {% for message in messages %}
        <div>
            <strong>Message:</strong> {{ message }}
            <button type="button" aria-label="Close" class="Close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <form action="/workshop/create" method="POST">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <div>
                    <input id="name" name="name" type="text" required>
                </div>
            </div>
            <div>
                <label for="city">City:</label>
                <div>
                    <input id="city" name="city" type="text" required autocomplete="city" autofocus>
                </div>
            </div>
            <div>
                <label for="address">Address:</label>
                <div>
                    <input id="address" name="address" type="text" required autocomplete="address" autofocus>
                </div>
            </div>
            <div>
                <label for="open">Opening Time:</label>
                <div>
                    <input id="open" name="open" type="time" required>
                </div>
            </div>
            <div>
                <label for="close">Closing Time:</label>
                <div>
                    <input id="close" name="close" type="time" required>
                </div>
            </div>
            <div>
                <label for="description">Description (General information, accepted brands, etc.):</label>
                <div>
                    <input id="description" name="description" type="text" required>
                </div>
            </div>
            <br>
            <div>
                <div>
                    <button type="submit" class="btn btn-primary">Register Workshop</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}