<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancel Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/agenda/update/{{appointment.id}}" method="POST">
                {% csrf_token %}
                <input id="action" name="action" type="number" value="2" hidden>
                <div class="modal-body">
                    <div>
                        <label for="reason">Cancel reason:</label>
                        <div>
                            <input id="reason" name="reason" type="text" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="return confirm('Cancel appointment id {{appointment.id}} for specified reason? \nCanceled appointments cannot be uncanceled!')"
                    type="submit" class="btn btn-danger">Cancel Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Comment Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/agenda/update/{{appointment.id}}" method="POST">
                {% csrf_token %}
                <input id="action" name="action" type="number" value="4" hidden>
                <div class="modal-body">
                    <div>
                        <label for="comment">Feedback:</label>
                        <div>
                            <input id="comment" name="comment" type="text" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="return confirm('Are you sure you want to send this comment?\nThis comment cannot be modified or deleted!')"
                    type="submit" class="btn btn-primary">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>