{% extends "app.html" %}
{% block title %} Show Appointment {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="card mt-4">
                    <div class="card-header">
                        <h2>Appointment details:</h2>
                    </div>
                    <div class="card-body">
                        <!--table>
                            <tr>
                                <td>Date:</td>
                                <td>{{ appointment.date }}</td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td>{{ appointment.time }}</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>{{ appointment.city }}</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>{{ appointment.address }}</td>
                            </tr>
                            <tr>
                                <td>Car Brand:</td>
                                <td>{{ appointment.car_brand }}</td>
                            </tr>
                            <tr>
                                <td>Car Model:</td>
                                <td>{{ appointment.car_model }}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ appointment.description }}</td>
                            </tr>
                            <tr>
                                <td>Mechanic:</td>
                                <td>{{ appointment.mech }}</td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{% if appointment.completed %}Completed{% elif appointment.canceled %}Canceled{% elif appointment.confirmed %}Confirmed{% else %}Not Confirmed{% endif %}</td>
                            </tr>
                        </table-->
                        <div class="row">
                            <div class="col">
                                <label for="date">Date:</label><br>
                                <label for="time">Time:</label><br>
                                <label for="city">City:</label><br>
                                <label for="address">Address:</label><br>
                                <label for="car_brand">Car Brand:</label><br>
                                <label for="car_model">Car Model:</label><br>
                                <label for="description">Description:</label><br>
                                <label for="mech">Mechanic:</label><br>
                                <label for="status">Status:</label>
                            </div>
                            <div class="col">
                                {{ appointment.date }}<br>
                                {{ appointment.time }}<br>
                                {{ appointment.city }}<br>
                                {{ appointment.address }}<br>
                                {{ appointment.car_brand }}<br>
                                {{ appointment.car_model }}<br>
                                {{ appointment.description }}<br>
                                {{ appointment.mech }}<br>
                                {% if appointment.completed %}Completed{% elif appointment.canceled %}Canceled{% elif appointment.confirmed %}Confirmed{% else %}Not Confirmed{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            {% include 'agenda/appointmentmodals.html' %}
                            {% if user.mech_verified %}
                                {% if appointment.canceled == False and appointment.confirmed == False %}
                                    <div class="col">
                                        <form action="/agenda/update/{{appointment.id}}" method="POST">
                                            {% csrf_token %}
                                            <input id="user" name="user" type="email" value="{{user.email}}" hidden>
                                            <input id="action" name="action" type="number" value="1" hidden>
                                            <button onclick="return confirm('Are you sure you want to mark this appointment as confirmed?\nThis cannot be undone!')"
                                            type="submit" class="btn btn-success">Confirm Appointment</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if appointment.canceled == False and appointment.completed == False %}
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel Appointment</button>
                                </div>
                            {% endif %}
                            {% if confirmable %}
                                {% if appointment.canceled == False and appointment.confirmed == True and appointment.completed == False %}
                                    <div class="col">
                                        <form action="/agenda/update/{{appointment.id}}" method="POST">
                                            {% csrf_token %}
                                            <input id="user" name="user" type="email" value="{{user.email}}" hidden>
                                            <input id="action" name="action" type="number" value="3" hidden>
                                            <button onclick="return confirm('Are you sure you want to mark this appointment as completed?\nThis cannot be undone!')"
                                            type="submit" class="btn btn-success">Mark as Completed</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="col">
                                <button type="button" class="btn btn-primary" onclick="location.href='/agenda'">Go Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card mt-4">
                    <div class="card-header">
                        <div>
                            {% if user.mech_verified %}
                                <h2>Your appointments for the day ({{ appointment.date }}):</h2><br>
                            {% else %}
                                <h2>Your appointments with this mech ({{ appointment.mech }}):</h2><br>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-sm">
                            <thead class="thead">
                                <tr>
                                    <td>ID</td> 
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>City</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if appointments %}
                                    {% for appointment in appointments %}
                                        <tr>
                                            <td><a href="/agenda/{{appointment.id}}">{{ appointment.id }}</a></td>
                                            <td>{{ appointment.date }}</td>
                                            <td>{{ appointment.time }}</td>
                                            <td>{{ appointment.city }}</td>
                                            <td>{{ appointment.address }}</td>
                                            <td>{% if appointment.completed %}Completed{% elif appointment.canceled %}Canceled{% elif appointment.confirmed %}Confirmed{% else %}Not Confirmed{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td class="text-center" colspan="100%">No data found.</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if appointment.confirmed %}
            <div class="row">
                <div class="col">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h2>Appointment timeline:</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="confirmtime">Confirm Time:</label><br>
                                    {% if appointment.canceled %}
                                        <label for="canceledby">Canceled By:</label><br>
                                        <label for="canceltime">Cancel Time:</label><br>
                                    {% endif %}
                                    {% if appointment.completed %}
                                        <label for="completedtime">Completed Time:</label><br>
                                    {% endif %}
                                    {% if appointment.usercomment %}
                                        <br><label for="usercommenttime">User Comment Time:</label><br>
                                        <label for="usercomment">User Comment:</label><br>
                                    {% endif %}
                                    {% if appointment.mechcomment %}
                                        <br><label for="mechcommenttime">Mech Comment Time:</label><br>
                                        <label for="mechcomment">Mech Comment:</label><br>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {{ appointment.confirmtime }}<br>
                                    {% if appointment.canceled %}
                                        {{ appointment.canceledby }}<br>
                                        {{ appointment.canceltime }}<br>
                                    {% endif %}
                                    {% if appointment.completed %}
                                        {{ appointment.completedtime }}<br>
                                    {% endif %}
                                    {% if appointment.usercomment %}
                                        <br>{{ appointment.usercommenttime }}<br>
                                        {{ appointment.usercomment }}<br>
                                    {% endif %}
                                    {% if appointment.mechcomment %}
                                        <br>{{ appointment.mechcommenttime }}<br>
                                        {{ appointment.mechcomment }}<br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if commentable %}
                            <div class="card-footer">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#commentModal">Add Comment</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}