{% extends "app.html" %}
{% block title %} Make Appointment {% endblock %}
{% block content %}
    <div class="container mt-4">
        {% for message in messages %}
        <div>
            <strong>Message:</strong> {{ message }}
            <button type="button" aria-label="Close" class="Close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% if mechs %}
            <form action="/agenda/create" method="POST">
                {% csrf_token %}
                <div>
                    <label for="mech">Mechanic:</label>
                    <div>
                        <select id="mech" name="mech" required autofocus>
                            {% for mech in mechs %}
                                <option value="{{mech.email}}">{{mech.first_name}} {{mech.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div><br>
                    <input id="service" name="service" type="checkbox" value="True">
                    <label for="service">Do you consent for car pickup?</label>
                </div><br>
                <div>
                    <label for="date">Date:</label>
                    <div>
                        <input id="date" name="date" type="date" min="{{minDate}}" max="{{maxDate}}" required>
                    </div>
                </div>
                <div>
                    <label for="time">Time:</label>
                    <div>
                        <input id="time" name="time" type="time" min="09:00:00" max="18:00:00" required>
                    </div>
                </div>
                <div>
                    <label for="car_brand">Car Brand:</label>
                    <div>
                        <input id="car_brand" name="car_brand" type="text" required autocomplete="car_brand">
                    </div>
                </div>
                <div>
                    <label for="car_model">Car Model:</label>
                    <div>
                        <input id="car_model" name="car_model" type="text" required autocomplete="car_model">
                    </div>
                </div>
                <div>
                    <label for="description">Description (Car problem, desired service, etc.):</label>
                    <div>
                        <textarea id="description" name="description" required>
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <button type="submit" class="btn btn-primary">Make Appointment</button>
                    </div>
                </div>
            </form>
        {% else %}
            <h1>There's no available mechs in your area, tell your local mechanics about this site!</h1>
        {% endif %}
    </div>
{% endblock %}