{% extends "app.html" %}
{% block title %} Appointment List {% endblock %}
{% block content %}
    <h1><b>Appointment List:</b></h1>
    <ul>
        <form action="/agenda/create" method="POST">
            {% csrf_token %}
            <input id="user" name="user" type="email" value="{{user.email}}" hidden>
            <div>
                <label for="mech">Mechanic:</label>
                <div>
                    <input id="mech" name="mech" type="email" required autocomplete="email" autofocus>
                </div>
            </div>
            <div>
                <label for="date">Date:</label>
                <div>
                    <input id="date" name="date" type="date" required>
                </div>
            </div>
            <div>
                <label for="time">Time:</label>
                <div>
                    <input id="time" name="time" type="time" required>
                </div>
            </div>
            <div>
                <label for="car_brand">Car Brand:</label>
                <div>
                    <input id="car_brand" name="car_brand" type="text" required autocomplete="car_brand">
                </div>
            </div>
            <div>
                <label for="car_model">Car Model:</label>
                <div>
                    <input id="car_model" name="car_model" type="text" required autocomplete="car_model">
                </div>
            </div>
            <div>
                <label for="description">Description (Car problem, desired service, etc.):</label>
                <div>
                    <input id="description" name="description" type="text">
                </div>
            </div>
            <div>
                <div>
                    <button type="submit">Make Appointment</button>
                </div>
            </div>
        </form>
    </ul>
{% endblock %}