{% extends "app.html" %}
{% block title %} Edit Appointment {% endblock %}
{% block content %}
    <form action="/agenda/update" method="POST">
        {% csrf_token %}
        <input id="user" name="user" type="email" value="{{user.email}}" hidden>
        <div>
            <label for="mech">Mechanic:</label>
            <div>
                <input id="mech" name="mech" type="email" value="{{ appointment.mech }}" required autocomplete="email" autofocus>
            </div>
        </div>
        <div>
            <label for="date">Date:</label>
            <div>
                <input id="date" name="date" type="date" value="{{ appointment.date }}" required>
            </div>
        </div>
        <div>
            <label for="time">Time:</label>
            <div>
                <input id="time" name="time" type="time" value="{{ appointment.time }}" required>
            </div>
        </div>
        <div>
            <label for="car_brand">Car Brand:</label>
            <div>
                <input id="car_brand" name="car_brand" type="text" value="{{ appointment.car_brand }}" required autocomplete="car_brand">
            </div>
        </div>
        <div>
            <label for="car_model">Car Model:</label>
            <div>
                <input id="car_model" name="car_model" type="text" value="{{ appointment.car_model }}" required autocomplete="car_model">
            </div>
        </div>
        <div>
            <label for="description">Description (Car problem, desired service, etc.):</label>
            <div>
                <input id="description" name="description" type="text" value="{{ appointment.description }}">
            </div>
        </div>
        <br>
        <div>
            <div>
                <button type="submit">Edit Appointment</button>
            </div>
        </div>
    </form>
{% endblock %}