{% extends "app.html" %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="container" style="text-align: center; height: 8vh;">
        {% for message in messages %}
        <div>
            <strong>Message:</strong> {{ message }}
            <button type="button" aria-label="Close" class="Close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% if user.first_name %}
        <h1><b>Hello {{user.first_name}}. Welcome to Fin-D-Mechs!</b></h1>
        {% else %}
        <h1><b>Welcome to Fin-D-Mechs!</b></h1>
        {% endif %}
    </div>
    <img class="center" src="{% static 'images/fin-d-mechs.png' %}" height="700vh" alt="Fin-D-Mechs" style="display: block; margin-left: auto; margin-right: auto;">
{% endblock %}