{% extends "es/app.html" %}
{% block title %} Make Appointment {% endblock %}
{% block content %}
    <div class="container mt-4">
        {% for message in messages %}
        <div>
            <strong>Mensaje:</strong> {{ message }}
            <button type="button" aria-label="Close" class="Close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% if workshops %}
            <form action="/agenda/create" method="POST">
                {% csrf_token %}
                <div>
                    <label for="workshop">Taller:</label>
                    <div>
                        <select id="workshop" name="workshop" required autofocus>
                            {% for workshop in workshops %}
                                <option value="{{workshop.id}}">{{workshop.name}} ({{workshop.address}})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <label for="date">Fecha:</label>
                    <div>
                        <input id="date" name="date" type="date" min="{{minDate}}" max="{{maxDate}}" required>
                    </div>
                </div>
                <div>
                    <label for="time">Hora:</label>
                    <div>
                        <input id="time" name="time" type="time" min="09:00:00" max="18:00:00" required>
                    </div>
                </div>
                <div>
                    <label for="car_brand">Marca de vehículo:</label>
                    <div>
                        <input id="car_brand" name="car_brand" type="text" required autocomplete="car_brand">
                    </div>
                </div>
                <div>
                    <label for="car_model">Modelo del vehículo:</label>
                    <div>
                        <input id="car_model" name="car_model" type="text" required autocomplete="car_model">
                    </div>
                </div>
                <div>
                    <label for="description">Descripción (Problema, servicio deseado, etc.):</label>
                    <div>
                        <textarea id="description" name="description" required>
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <button type="submit" class="btn btn-primary">Registrar cita</button>
                    </div>
                </div>
            </form>
        {% else %}
            <h1>¡No hay talleres en su área, intente registrar una<a href="/agenda/create?service=False">cita en casa</a>!</h1>
        {% endif %}
    </div>
{% endblock %}